@media only screen and (max-width: 300px) {
    body {
        background-color: Red;
    }

    .small, .medium, .large {
        display: block;
    }

    h1 {
        font-size: 20px;
    }

    .small {
        width: 33%;
    }

    .medium {
        width: 33%;
    }
div {
    display: block; margin-left: 20%;
}
    .large {
        width: 33%;
    }
}

@media only screen and (min-width: 301px ) and (max-width: 768px) {
    body {
        background-color: Green;
    }


    h1 {
        font-size: 30px;
    }

    .small {
        width: 66%;
    }

    .medium {
        width: 33%;
    }

    .large {
        width: 100%;
    }
}

@media only screen and (min-width: 769px) {
    body {
        background-color: Blue;
    }

    h1 {
        font-size: 40px;
    }

    div {
        position: relative;
        width: 1200px;
    }
    div div {
        display: inline-block;
        width: 33%;
    }
}